# === Terraform ===
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.lock.hcl

# Logs de crash
crash.log
crash.*.log

# Arquivos de variáveis locais/sensíveis
*.tfvars
*.tfvars.json
!*.example.tfvars   # mantenha apenas exemplos versionados

# Overrides locais
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Planos locais
*.tfplan
*.plan

# Configs locais que podem conter credenciais
.terraformrc
terraform.rc

# Opcional: ignore se seu backend.hcl tiver dados sensíveis (ex.: conta/role)
# backend.hcl

# === Ambiente local ===
.env
.env.*

# === IDE/OS ===
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

